# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

### Step 1. Import the necessary libraries

In [57]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

### Step 2. Import the dataset chipotle.tsv.

https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv

Read using pd.read_csv

In [58]:
path=r"" #Provide path here
chipo = pd.read_csv(r"C:\Users\My\Downloads\chipotle.csv", sep = '\t') #Read file using pandas

### Step 3. See the first 10 entries

In [59]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [60]:
len(chipo.axes[0])

4622

### Step 5. What is the number of columns in the dataset?

In [61]:
len(chipo.columns)

5

In [7]:
len(chipo.axes[1])

5

### Step 6. Print the name of all the columns.

In [62]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

### Step 8. Which was the most-ordered item? 

(Replace *** with proper answer)

In [63]:
c1 = chipo.groupby('item_name') #Group by item_name 
c1

In [64]:
c2 = chipo.groupby('item_name').sum()                #Get total items using sum
c2.head()

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

In [65]:
c = c2.sort_values(['quantity'],ascending =False) #Sort quantity in descending order
c.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 9. What was the most ordered item in the choice_description column?

In [66]:
#Same as above use choice_description
# Diet Coke 159

### Step 10. How many items were ordered in total?

In [67]:
chipo.quantity.sum()

4972

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [68]:
chipo.item_price.dtype

dtype('O')

#### Step 11.b. Change the type of item price

In [14]:
#Remove $ sign attched with item price

In [69]:
chipo.item_price= [item_price.strip('$') for item_price in chipo.item_price]
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

#### Step 11.c. Check the item price type

In [70]:
chipo.item_price.dtype

dtype('O')

### Step 12. How much was the revenue for the period in the dataset?

In [72]:
chipo['revenue']  = chipo['quantity'] * chipo['item_price']

print('Revenue was: $' + str(np.round(revenue,2)))

TypeError: can't multiply sequence by non-int of type 'float'

### Step 13. How many orders were made in the period?

In [73]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 14 What is the average revenue amount per order?

In [18]:
# Solution 1

chipo['revenue'] = chipo[***] * chipo[***]
order_grouped = chipo.groupby(by=[***]).***
#Take Mean of order_grouped and select revenue column

21.394231188658654

### Step 15. How many different items are sold?

In [74]:
chipo.item_name.value_counts().count()

50

### Step 16. How many products cost more than $10.00? Please follow the comment.

Replace  **  with proper ans

In [85]:

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name'])
chipo_filtered
# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo.quantity < 2]
chipo_one_prod.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
6,3,1,Side of Chips,NaN,1.69,1.69

In [90]:
chipo_one_prod.item_name.nunique()

46

### Step 17. What is price of each item with most to least expensive? 
###### Select a data frame with only two columns item_name and item_price

In [108]:
# select only the item_name and item_price columns
price_per_item = chipo[['item_name','item_price']]
price_per_item.head()
# sort the values from the most to less expensive
price_per_item.sort_values(['item_price'],ascending =True).head()

          item_name item_price
261     Canned Soda      1.09
1805    Canned Soda      1.09
1030    Canned Soda      1.09
3020    Canned Soda      1.09
3021  Bottled Water      1.09

### Step 18. Sort by the name of the item

In [110]:
chipo.sort_values('item_name', ascending=True).head()

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,12.98 12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49

### Step 19. How many times were a Veggie Salad Bowl ordered?

In [111]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 20. How many times people orderd more than one Canned Soda?

In [112]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20