# Problem Statement 1:
In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. 𝐻0: 𝜇 = 25, 𝐻1: 𝜇 ≠ 25
2. 𝐻0: 𝜎 > 10, 𝐻1: 𝜎 = 10
3. 𝐻0: 𝑥 = 50, 𝐻1: 𝑥 ≠ 50
4. 𝐻0: 𝑝 = 0.1, 𝐻1: 𝑝 = 0.5
5. 𝐻0: 𝑠 = 30, 𝐻1: 𝑠 > 30

### 1. 𝐻0: 𝜇 = 25, 𝐻1: 𝜇 ≠ 25
#### Correct
        Ho is null and has value of 25, H1 is alternate and dont have value same as 25 which means H1 can be less or more but not equal to H0.
        Null will alway have equal sign or value.

### 2. 𝐻0: 𝜎 > 10, 𝐻1: 𝜎 = 10
#### Not Correct
        H0 is null and has value of greater than 10, h1 is alternate has value equal to 10, but Null hypothesis doesnt have constant value.

### 3. 𝐻0: 𝑥 = 50, 𝐻1: 𝑥 ≠ 50
#### Correct
        H0 and H1 are not same H0 is 50 and H1 is not equal to 50.

### 4.  𝐻0: 𝑝 = 0.1, 𝐻1: 𝑝 = 0.5
#### Not Correct
        H0 is null ans have value of 0.1, H1 have value of 0.5 which is not equal to 0.1 but 0.5, but all values without 0.1 should be in H1.

### 5. 𝐻0: 𝑠 = 30, 𝐻1: 𝑠 > 30
#### correct
        H0 is null and has value of 30, H1 have value of greater than 30 which is not equal to 30.

# Problem Statement 2:
The college bookstore tells prospective students that the average cost of its textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the 5% level of significance and state your decision.

'H0 : µ <= 52',

'H1 : µ > 52.80',

'α = 0.05',

Reject H0 if z>1.645Z =(52.8-52)/(4.50/√100) = 1.78

Reject H0; conclude that the average cost of textbooks is statistically significantly higher than the bookstore’s claim.

p = P(z>1.78) = .5 - .4625 = 0.0375 (Note that this is close to the significance level, so it is not very, very strong evidence against the null hypothesis.)

# Problem Statement 3:
A certain chemical pollutant in the Genesee River has been constant for several years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A group of factory representatives whose companies discharge liquids into the river is now claiming that they have lowered the average with improved filtration devices. A group of environmentalists will test to see if this is true at the 1% level of significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm. Perform a hypothesis test at the 1% level of significance and state your decision.

* H0: M=34ppm
* H1: M<34ppm

In [7]:
σ = 8
n = 50
x = 32.5

In [9]:
Z= (x-34)/(8/50**0.5)
Z

-1.3258252147247767

#### from Z score table for 1% and -1.32 value is 0.0934 which gives probability of 9.34%, which is more than 1% so test fails.

# Problem Statement 4:
Based on population figures and other general information on the U.S. population, suppose it has been estimated that, on average, a family of four in the U.S. spends about $1135 annually on dental expenditures. Suppose further that a regional dental association wants to test to determine if this figure is accurate for their area of country. To test this, 22 families of 4 are randomly selected from the population in that area of the country and a log is kept of the family’s dental expenditure for one year. The resulting data are given below. Assuming, that dental expenditure is normally distributed in the population, use the data and an alpha of 0.5 to test the dental association’s hypothesis.

1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

In [23]:
# H0=1135
# H1!=1135
import pandas as pd
import numpy as np
import math as m
import scipy.stats
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import binom
from scipy.stats import chisquare
import statistics as st

In [24]:
A=(1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994)
n=22
A

(1008,
 812,
 1117,
 1323,
 1308,
 1415,
 831,
 1021,
 1287,
 851,
 930,
 730,
 699,
 872,
 913,
 944,
 954,
 987,
 1695,
 995,
 1003,
 994)

In [25]:
st.stdev(A)

240.3745859246388

In [39]:
Avg=(1008+ 812+ 1117+ 1323+ 1308+ 1415+ 831+ 1021+ 1287+ 851+ 930+ 730+ 699+ 872+ 913+ 944+ 954+ 987+ 1695+ 995+ 1003+ 994)/22
Avg

1031.3181818181818

In [38]:
np.mean(A)

1031.3181818181818

In [30]:
from scipy.stats import zscore

In [34]:
B=zscore(A)
B

array([-0.09929053, -0.93387292,  0.36483947,  1.24200259,  1.17813149,
        1.63374535, -0.85296952, -0.04393558,  1.08871195, -0.76780805,
       -0.43142026, -1.28303494, -1.41503521, -0.67838851, -0.5038075 ,
       -0.37180723, -0.32922649, -0.18871007,  2.8260059 , -0.15464548,
       -0.1205809 , -0.15890356])

In [46]:
np.mean(B)

2.6620120249535006e-16