# Problem Statement 1:
#### Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:
#####                 High School      Bachelors       Masters      Ph.d.      Total
##### Female           60                     54                    46             41          201
##### Male               40                     44                    53             57          194
##### Total             100                    98                    99             98           395
#### Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [1]:
import pandas as pd
import numpy as np
import math as m
import scipy.stats
import matplotlib.pyplot as plt
from scipy.stats import binom
from scipy.stats import chisquare
import statistics as st
N=395
chisquare([60, 54, 46, 41])

Power_divergenceResult(statistic=4.233830845771145, pvalue=0.23729652738424692)

In [2]:
obs = np.array([[60, 54, 46, 41, 201],[40, 44, 53, 57, 194],[100, 98, 99, 98, 395]]).T
obs.shape
chisquare(obs)
obs

array([[ 60,  40, 100],
       [ 54,  44,  98],
       [ 46,  53,  99],
       [ 41,  57,  98],
       [201, 194, 395]])

In [3]:
scipy.stats.chi2_contingency(obs)

(8.006066246262538,
 0.43287777354287077,
 8,
 array([[ 50.88607595,  49.11392405, 100.        ],
        [ 49.86835443,  48.13164557,  98.        ],
        [ 50.37721519,  48.62278481,  99.        ],
        [ 49.86835443,  48.13164557,  98.        ],
        [201.        , 194.        , 395.        ]]))

In [4]:
x=(((60-50.886)**2)/50.886)+(((54-49.868)**2)/49.868)+(((46-50.377)**2)/50.377)+(((41-49.868)**2)/49.868)+(((40-49.113)**2)/49.113)+(((44-48.131)**2)/48.131)+(((53-48.622)**2)/48.622)+(((57-48.131)**2)/48.131)

In [5]:
x

8.005996753802016

In [6]:
# The critical value of x2 with 3 degree of freedom is 7.815. Since 8.006 > 7.815, therefore we reject the null hypothesis and conclude that the education level depends on gender at a 5% level of significance.

# Problem Statement 2:
### Using the following data, perform a oneway analysis of variance using α=.05. Write up the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [7]:
# dont have any idea about APA in python can you please share some study material for it.

In [8]:
G1=[51, 45, 33, 45, 67]
G2=[23, 43, 23, 43, 45]
G3=[56, 76, 74, 87, 56]

In [9]:
G4=st.variance(G1),st.variance(G2),st.variance(G3)
G4

(153.2, 128.79999999999998, 183.2)

In [10]:
#Variance avg
m=(153.2+128.8+183.2)/3
m

155.06666666666666

In [11]:
# Calculating the remaining error terms for the ANOVA table:
dferror=(15-3)
dferror

12

In [12]:
SSerror=m*dferror
SSerror

1860.8

In [13]:
GrandMean=(48.2+35.4+69.8)/3
GrandMean

51.133333333333326

In [14]:
G5=np.mean(G1),np.mean(G2),np.mean(G3)
G5

(48.2, 35.4, 69.8)

In [15]:
deviation=(48.2-51.13, 35.4-51.13, 69.8-51.13)
deviation

(-2.9299999999999997, -15.730000000000004, 18.669999999999995)

In [16]:
sqdev=((-2.9299999999999997)**2, (-15.730000000000004)**2, 18.669999999999995**2)
sqdev

(8.584899999999998, 247.43290000000013, 348.5688999999998)

In [17]:
# Sum of squares 
SSmeans = 8.584899999999998 +247.43290000000013+ 348.5688999999998
SSmeans

604.5867

In [18]:
Varmeans=604.58/(3-1)
Varmeans

302.29

In [19]:
MSbetween=(302.29)*(5)
MSbetween

1511.45

In [20]:
#Calculating the remaining between (or group) terms of the ANOVA table:

# dfgroups= 3−1 = 2

SSgroup=(1511.45)*(3-1)
SSgroup

3022.9

In [21]:
# Test statistic and critical value

F=1511.45/155.07
F

9.746888501966854

In [22]:
# Fcritical(2,12)=3.89

In [23]:
# Effect size
η2=SSgroup / (3022.9+1860.8)
η2

0.6189774146651105

In [24]:
# APA writeup

# F(2, 12)=9.75, p <0.05, η2=0.62.

# Problem Statement 3:
### Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
### for 10, 20, 30, 40, 50:

In [25]:
A=(10,20,30,40,50)
B=(5,10,15,20,25)

In [26]:
Var1=st.variance(A)
Var1

250

In [27]:
Var2=st.variance(B)
Var2

62.5

In [28]:
# there is difference between variance of A & B
f=Var1/Var2
f

4.0